.container-s101 {
max-width: 1440px;
background-color: #fff;
background-repeat: repeat-y;
}

.container-s101 {
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

.col-sm-12-s101{
position: relative;
width: 100%;
min-height: 1px;
}

.col-sm-12-s101 {
-ms-flex: 0 0 100%;
flex: 0 0 100%;
max-width: 100%;
}

.row-s101 {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}


:root{
--background-white: #ffff;
--background-black: #111;
--background-silver: #e6e5eb;

--text-white: #fff;
--text-preto: #000;
}

div{border: 0;}

img{border: 0;}
.txt-branco {color: var(--text-white);}
.txt-preto{color: var(--text-preto)}

.boxcolor-white{background-color: var(--background-white);}
.boxcolor-silver{background-color: var(--background-silver);}
.boxcolor-black{background-color: var(--background-black);}


@font-face {
  font-family: 'CamphorPro';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./fonts/4.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.img-fluid {max-width: 100%; height: auto;}

.mob{display: none;}
.desk{display: block;}

.logo{
position: absolute;
margin: auto;
left: 0;
right:0;
bottom: 0;
top: -40rem;
width: 30%;
}

.subtitle-left {
text-align: left;
font-size: 2.5rem;
font-weight: 600;
font-family: 'CamphorPro', sans-serif;
position: relative;
overflow-wrap: break-word;
}

.subtitle-center {
text-align: center;
font-size: 2.5rem;
font-weight: 600;
font-family: 'CamphorPro', sans-serif;
position: relative;
overflow-wrap: break-word;
}

.p-center {
font-size: 1.1rem;
text-align: center;
font-family: 'CamphorPro', sans-serif;
position: relative;
line-height: 1.3;
overflow-wrap: break-word;
}

.p-left {
font-size: 1.1rem;
text-align: left;
font-family: 'CamphorPro', sans-serif;
position: relative;
line-height: 1.3;
overflow-wrap: break-word;
}

.p-notas{
text-align: left;
font-size: 1rem;
padding: 5rem;
font-family: 'CamphorPro', sans-serif;
}

.p-info {
margin-top: 3rem;
font-size: 1.1rem;
text-align: left;
font-family: 'CamphorPro', sans-serif;
position: relative;
line-height: 1.3;
overflow-wrap: break-word;
width: 19rem;
}

.title {
  font-family: 'CamphorPro', sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 3rem;
}
  

.img-with{width: 40%;}
#text-item{font-weight: bold; font-size: 1.7rem;}
/************************ Grid ***********************/

.grid-img-strap {
box-sizing: border-box;
display: flex;
flex-direction: row;
align-content: center;
align-items: center;
justify-content: center;
gap: 1.5rem;
}

/********************** Slideshow ********************/

#slider {
    width: 100%;
    overflow: hidden;
  }

  #slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }

  .slide img {
    width: 100%;
    height: auto;
  }

  #dots-container {
    text-align: center;
    margin-top: 20px;
  }
  
  #dots-container-desk {
    text-align: center;
    margin-top: 20px;
  }

  .dot {
    height: 30px;
    width: 30px;
    margin: 0 5px;
    border-radius: 70%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dot:nth-child(1) {
    background: url(../media/PastelPurple-in.png); /* Cor do dot para o Item 01 */
  }

  .dot:nth-child(2) {
    background: url(../media/DarkCyan-in.png); /* Cor do dot para o Item 02 */
  }

  .dot:nth-child(3) {
    background: url(../media/MintGreen-in.png); /* Cor do dot para o Item 03 */
  }

  .dot.active {
   border: #000 solid 0.08rem;/* Cor do dot ativo */

  }

  #slide-text {
    text-align: center;
    margin-top: 20px;
  }

  #slide-text-desk {
    text-align: center;
    margin-top: 20px;
  }




  .text-position{position: relative;}
  .text-overlay {
    position: absolute;
    top: 7rem;
    left: 25rem;
    width: 22rem;
  }
  
  .text-position-slide{position: relative; width: 100%;}
  .text-overlay-slide {
    position: absolute;
    bottom: 2rem;
    left: 11rem;
    width: 18rem;
  }
  .spacing{padding: 3rem;}
/********************** Mobile ***********************/

@media only screen and (max-width: 920px) {

img{border: 0;}

.title {
  font-family: 'CamphorPro', sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 2.5rem;
}

.text-position{position: relative;}

.text-overlay{
  position: absolute;
  top: 3rem;
  left: 0;
}


.logo {
position: absolute;
margin: auto;
left: 0;
right: 0;
bottom: 0;
top: -45rem;
width: 70%;
}

.row-s101 {padding: 0 0px;}
.spacing{padding: 1rem;}
.spacing-galery{padding: 1rem;}


.desk{display: none;}
.mob{display: block;}

.col-md-12-s101 {
-ms-flex: 0 0 100%;
flex: 0 0 100%;
max-width: 100%;
}

/********************** Grind Mobile *******************/
.grid-img-strap {
box-sizing: border-box;
display: flex;
flex-direction: column;
align-content: center;
align-items: center;
justify-content: center;
gap: 1.5rem;
}

/**************************TxT******************************/

.subtitle-left {
text-align: left;
font-size: 1.5rem;
font-weight: 700;
font-family: 'CamphorPro', sans-serif;
position: relative;
margin-bottom: 0.5rem;
}

.subtitle-center {
text-align: center;
font-size: 1.5rem;
font-weight: 700;
font-family: 'CamphorPro', sans-serif;
position: relative;
margin-bottom: 0.5rem;
}

.p-center {
font-size: 0.99rem;
text-align: center;
font-family: 'CamphorPro', sans-serif;
position: relative;
overflow-wrap: break-word;
}

.p-left {
font-size: 0.99rem;
text-align: left;
font-family: 'CamphorPro', sans-serif;
position: relative;
overflow-wrap: break-word;
}

.p-notas {
text-align: left;
font-size: 0.9rem;
padding: 0.5rem;
}

.img-with{
    width: 85%;
}


}